HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/lib/client-2.1.jar
/lib/common-2.1.jar
/lib/jakarta.annotation-api-1.3.5.jar
/lib/jul-to-slf4j-1.7.30.jar
/lib/log4j-api-2.13.3.jar
/lib/log4j-to-slf4j-2.13.3.jar
/lib/logback-classic-1.2.3.jar
/lib/logback-core-1.2.3.jar
/lib/netty-buffer-4.1.112.Final.jar
/lib/netty-codec-4.1.112.Final.jar
/lib/netty-codec-dns-4.1.112.Final.jar
/lib/netty-codec-http-4.1.112.Final.jar
/lib/netty-codec-socks-4.1.112.Final.jar
/lib/netty-common-4.1.112.Final.jar
/lib/netty-handler-4.1.112.Final.jar
/lib/netty-handler-proxy-4.1.112.Final.jar
/lib/netty-resolver-4.1.112.Final.jar
/lib/netty-resolver-dns-4.1.112.Final.jar
/lib/netty-resolver-dns-classes-macos-4.1.112.Final.jar
/lib/netty-resolver-dns-native-macos-4.1.112.Final-osx-x86_64.jar
/lib/netty-transport-4.1.112.Final.jar
/lib/netty-transport-classes-epoll-4.1.112.Final.jar
/lib/netty-transport-native-epoll-4.1.112.Final-linux-x86_64.jar
/lib/netty-transport-native-unix-common-4.1.112.Final.jar
/lib/r2dbc-pool-0.8.5.RELEASE.jar
/lib/r2dbc-postgresql-1.0.7.RELEASE.jar
/lib/r2dbc-spi-0.8.3.RELEASE.jar
/lib/r2dbc-spi-1.0.0.RELEASE.jar
/lib/reactive-streams-1.0.3.jar
/lib/reactor-core-3.3.12.RELEASE.jar
/lib/reactor-core-3.5.20.jar
/lib/reactor-netty-core-1.1.22.jar
/lib/reactor-pool-0.1.6.RELEASE.jar
/lib/saslprep-1.1.jar
/lib/slf4j-api-1.7.26.jar
/lib/snakeyaml-1.26.jar
/lib/spring-aop-5.2.12.RELEASE.jar
/lib/spring-beans-5.2.12.RELEASE.jar
/lib/spring-boot-2.3.8.RELEASE.jar
/lib/spring-boot-autoconfigure-2.3.8.RELEASE.jar
/lib/spring-boot-starter-2.3.8.RELEASE.jar
/lib/spring-boot-starter-data-r2dbc-2.3.8.RELEASE.jar
/lib/spring-boot-starter-logging-2.3.8.RELEASE.jar
/lib/spring-context-5.2.12.RELEASE.jar
/lib/spring-core-5.2.12.RELEASE.jar
/lib/spring-data-commons-2.3.6.RELEASE.jar
/lib/spring-data-r2dbc-1.1.6.RELEASE.jar
/lib/spring-data-relational-2.0.6.RELEASE.jar
/lib/spring-expression-5.2.12.RELEASE.jar
/lib/spring-jcl-5.2.12.RELEASE.jar
/lib/spring-tx-5.2.12.RELEASE.jar
/lib/stringprep-1.1.jar
